li {
	display: inline;
	padding-left: 3px;
	padding-right: 3px;
	background-color: white;
}

#cabe {
	text-align: center;
/*	background-color: blue;
*/	height: 50px;
	vertical-align: middle;
}

.lbl {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}